.th {
  text-align: center !important;
  position: sticky !important;
  top: 0 !important;
}

.td {
  text-align: center !important;
}

:host ::ng-deep .p-float-label>label {
  right: 0.75rem !important;
}

:host ::ng-deep .p-divider.p-divider-horizontal:before {
  border-top: 0px #dee2e6 !important;
}

:host ::ng-deep .p-toolbar {
  background: unset !important;
  border: 0px solid #dee2e6 !important;
  padding: 1rem 1.25rem;
  border-radius: 4px;
}

:host ::ng-deep .mb-4 {
  margin-bottom: 0.5rem !important;
}

:host ::ng-deep .p-dialog .p-dialog-header {
  border-bottom: 0px solid #e9ecef !important;
}

:host ::ng-deep .p-dialog .p-dialog-footer {
  border-top: 0px solid #e9ecef !important;
}

:host ::ng-deep .p-dialog .p-dialog-content {
  padding: 1.5rem !important;
}

:host ::ng-deep .customIcon .pi {
  font-size: 2rem;
}