<p-toast dir="rtl"></p-toast>
<p-breadcrumb [model]="items"></p-breadcrumb>
<div class="card" dir="rtl">
  <p-toolbar styleClass="mb-4">
    <ng-template pTemplate="left">
    </ng-template>

    <ng-template pTemplate="right">
      <button pButton pRipple label="إضافة" icon="pi pi-plus" class="p-button-success mr-2"
        (click)="openNew()"></button>
    </ng-template>
  </p-toolbar>
  <p-table responsiveLayout="scroll" [value]="roles" selectionMode="single" [(selection)]="role" [rowHover]="true"
    [autoLayout]="true" [paginator]="true" [rows]="5" dataKey="Id" [columns]="cols">
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of cols" class="th">
          {{col.header}}
        </th>
        <th class="th"> أدوات التحكم</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-role let-columns="columns">
      <tr>
        <td *ngFor="let col of cols" class="td">
          {{role[col.field]}}
        </td>
        <td class="td">
          <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2"
            (click)="editRole(role)" title="تعديل"></button>
          <button pButton pRipple icon=" pi pi-trash" title="حذف" class="p-button-rounded p-button-warning"
            (click)="deleteSelectedRole(role)"></button>
          <button pButton pRipple icon="pi pi-slack" title="صلاحيات الدور" class="p-button-rounded p-button-Primary"
            (click)="setPermissions(role)"></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<p-dialog [(visible)]="roleDialog" [style]="{width: '450px'}" header="تفاصيل الدور" [modal]="true" styleClass="p-fluid"
  dir="rtl">
  <ng-template pTemplate="content">
    <div class="p-field">
      <span class="p-float-label">
        <input type="text" pInputText id="name" [(ngModel)]="role.name" required autofocus maxlength="100" />
        <small class="p-invalid" [style]="{color: 'red'}" *ngIf="submitted && !role.name">الاسم مطلوب</small>
        <label for="name" dir="rtl">الاسم</label>
      </span>
    </div>
    <p-divider></p-divider>
    <div class="p-field">
      <span class="p-float-label">
        <input id="displayName" pInputText [(ngModel)]="role.displayName" required maxlength="100" />
        <small class="p-invalid" [style]="{color: 'red'}" *ngIf="submitted && !role.displayName">الاسم العربي
          مطلوب</small>
        <label for="displayName" dir="rtl">الاسم العربي</label>
      </span>
    </div>
    <p-divider></p-divider>
    <div class="p-field">
      <span class="p-float-label">
        <input id="statusCode" pInputText type="number" [(ngModel)]="role.statusCode" required />
        <small class="p-invalid" [style]="{color: 'red'}" *ngIf="submitted && !role.statusCode">رمز الحالة الموافق للدور
          مطلوب</small>
        <label for="statusCode" dir="rtl">رمز الحالة الموافق للدور</label>
      </span>
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <div class="row">
      <div class="p-button-rounded col-sm"></div>
      <button pButton pRipple label="حفظ" icon="pi pi-check" class="p-button-rounded col-sm"
        (click)="saveRole()"></button>
      <button pButton pRipple type="button" label="إلغاء" icon="pi pi-times"
        class="p-button-rounded p-button-warning col-sm" (click)="hideDialog()"></button>
      <div class="p-button-rounded col-sm"></div>
    </div>
  </ng-template>
</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>