<p-toast dir="rtl"></p-toast>
<div class="progress-spinner" *ngIf="isLoading$ | async;">
  <p-progressSpinner [style]="{width: '50px', height: '50px'}" styleClass="custom-spinner" strokeWidth="8"
    fill="var(--surface-ground)" animationDuration=".5s"></p-progressSpinner>
</div>
<div class="card" dir="rtl">
  <p-toolbar styleClass="mb-4">
    <ng-template pTemplate="left">
    </ng-template>

    <ng-template pTemplate="right">
      <button pButton pRipple label="{{'addTitle' | translate }}" icon="pi pi-plus" class="p-button-success mr-2"
        (click)="openNew()"></button>
    </ng-template>
  </p-toolbar>
  <p-table responsiveLayout="scroll" [value]="rolePermissions" selectionMode="single" [(selection)]="rolePermission"
    [rowHover]="true" [autoLayout]="true" [paginator]="true" [rows]="5" dataKey="Id" [columns]="cols">
    <ng-template pTemplate="caption">
      <div class="table-header">
        {{'RolePermissionsLable' | translate }}
      </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of cols" class="th">
          {{col.header}}
        </th>
        <th class="th"> {{'controlTilte' | translate }}</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rolePermission let-columns="columns">
      <tr>
        <td *ngFor="let col of cols" class="td">
          {{rolePermission[col.field]}}
        </td>
        <td class="td">
          <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2"
            (click)="editRolePermission(rolePermission)" title="{{'editTitle' | translate }}"></button>
          <button pButton pRipple icon="pi pi-trash" title="{{'deleteTitle' | translate }}"
            class="p-button-rounded p-button-warning" (click)="deleteSelectedRolePermission(rolePermission)"></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<p-dialog [(visible)]="rolePermissionDialog" [style]="{width: '550px'}"
  header="{{'RolePermissionDialogHeader' | translate }}" [modal]="true" styleClass="p-fluid" dir="rtl">
  <ng-template pTemplate="content">
  </ng-template>

  <ng-template pTemplate="footer">
    <div class="row">
      <div class="p-button-rounded col-sm"></div>
      <button pButton pRipple label="{{'saveTitle' | translate }}" icon="pi pi-check" class="p-button-rounded col-sm"
        (click)="saveRolePermission()"></button>
      <button pButton pRipple type="button" label="{{'cancelTitle' | translate }}" icon="pi pi-times"
        class="p-button-rounded p-button-warning col-sm" (click)="hideDialog()"></button>
      <div class="p-button-rounded col-sm"></div>
    </div>
  </ng-template>
</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
