.th {
    text-align: center !important;
    position: sticky !important;
    top: 0 !important;
}

.td {
    text-align: center !important;
}
:host ::ng-deep .p-dialog .p-dialog-header {
    border-bottom: 0px solid #e9ecef !important;
  }
  
  :host ::ng-deep .p-dialog .p-dialog-footer {
    border-top: 0px solid #e9ecef !important;
  }
  
  :host ::ng-deep .p-dialog .p-dialog-content {
    padding: 1.5rem !important;
  }