<p-toast dir="rtl"></p-toast>
<div class="progress-spinner" *ngIf="isLoading$ | async;">
  <p-progressSpinner [style]="{width: '50px', height: '50px'}" styleClass="custom-spinner" strokeWidth="8"
    fill="var(--surface-ground)" animationDuration=".5s"></p-progressSpinner>
</div>
<div class="card" dir="rtl">
  <p-toolbar styleClass="mb-4">
    <ng-template pTemplate="left">
    </ng-template>

    <ng-template pTemplate="right">
      <button pButton pRipple label="{{'addTitle' | translate }}" icon="pi pi-plus" class="p-button-success mr-2"
        (click)="openNew()"></button>
    </ng-template>
  </p-toolbar>
  <p-table responsiveLayout="scroll" [value]="users" selectionMode="single" [(selection)]="user" [rowHover]="true"
    [autoLayout]="true" [paginator]="true" [rows]="5" dataKey="Id" [columns]="cols">
    <ng-template pTemplate="caption">
      <div class="table-header">
        {{'usersLabel' | translate }}
      </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of cols" class="th">
          {{col.header}}
        </th>
        <th class="th"> {{'controlTilte' | translate }}</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user let-columns="columns">
      <tr>
        <td *ngFor="let col of cols" class="td" [ngSwitch]="col.field">
          <ng-container *ngSwitchCase="'fName'">
            {{user[col.field]}}
          </ng-container>
          <ng-container *ngSwitchCase="'lName'">
            {{user[col.field]}}
          </ng-container>
          <ng-container *ngSwitchCase="'userName'">
            {{user[col.field]}}
          </ng-container>
          <ng-container *ngSwitchCase="'phone'">
            {{user[col.field] }}
          </ng-container>
          <ng-container *ngSwitchCase="'natNum'">
            {{user[col.field] }}
          </ng-container>
          <ng-container *ngSwitchCase="'emailAddress'">
            {{user[col.field] }}
          </ng-container>
          <ng-container *ngSwitchCase="'isActive'">
            {{user[col.field] ? 'نعم' : 'لا' }}
          </ng-container>
          <ng-container *ngSwitchCase="'roleID'">
            {{user?.role?.displayName}}
          </ng-container>
          <ng-container *ngSwitchCase="'branchID'">
            {{user?.Branch?.Name}}
          </ng-container>
        </td>
        <td class="td">
          <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2"
            (click)="editUser(user)" title="{{'editTitle' | translate }}"></button>
          <button pButton pRipple icon="pi pi-trash" title="{{'deleteTitle' | translate }}"
            class="p-button-rounded p-button-warning" (click)="deleteSelectedUser(user)"></button>
          <button pButton pRipple icon="pi pi-user" title="{{'UserProfileHeaderDialog' | translate }}"
            class="p-button-rounded p-button-Primary" (click)="deleteSelectedUser(user)"></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<p-dialog [(visible)]="userDialog" [style]="{width: '750px'}" header="{{'userDialogHeader' | translate }}"
  [modal]="true" styleClass="p-fluid" dir="rtl">
  <ng-template pTemplate="content">
    <div class="row">
      <div class="p-field col-sm">
        <label for="FName">{{'FNameHeader' | translate }}</label>
        <input type="text" pInputText id="FName" [(ngModel)]="user.fName" required autofocus maxlength="100" />
        <small class="p-invalid" [style]="{color: 'red'}" *ngIf="submitted && !user.fName">{{'fnameReq' | translate
          }}</small>
      </div>
      <div class="p-field col-sm">
        <label for="LName">{{'LNameHeader' | translate }}</label>
        <input id="LName" pInputText [(ngModel)]="user.lName" required maxlength="100" />
        <small class="p-invalid" [style]="{color: 'red'}" *ngIf="submitted && !user.lName">{{'lnameReq' | translate
          }}</small>
      </div>
    </div>
    <div class="row">
      <div class="p-field col-sm">
        <label for="UserName">{{'usernameLabel' | translate }}</label>
        <input id="UserName" pInputText [(ngModel)]="user.userName" required maxlength="100" />
        <small class="p-invalid" [style]="{color: 'red'}" *ngIf="submitted && !user.userName">{{'usernameReq' |
          translate
          }}</small>
      </div>
      <div class="p-field col-sm">
        <label for="PassWord">{{'passwordLabel' | translate }}</label>
        <input id="PassWord" pInputText [(ngModel)]="user.passWord" required maxlength="100" />
        <small class="p-invalid" [style]="{color: 'red'}" *ngIf="submitted && !user.passWord">{{'passwordReq' |
          translate
          }}</small>
      </div>
    </div>
    <div class="row">

      <div class="p-field col-sm">
        <label for="Phone">{{'PhoneHeader' | translate }}</label>
        <input id="Phone" pInputText [(ngModel)]="user.phone" required maxlength="10" />
        <small class="p-invalid" [style]="{color: 'red'}" *ngIf="submitted && !user.phone">{{'mobileReq' | translate
          }}</small>
      </div>
      <div class="p-field col-sm">
        <label for="NatNum">{{'NatNumHeader' | translate }}</label>
        <input id="NatNum" pInputText [(ngModel)]="user.natNum" required maxlength="11" />
        <small class="p-invalid" [style]="{color: 'red'}" *ngIf="submitted && !user.natNum">{{'natNumReq' | translate
          }}</small>
      </div>
    </div>
    <div class="row">

      <div class="p-field col-sm">
        <label for="EmailAddress">{{'EmailAddressHeader' | translate }}</label>
        <input id="EmailAddress" pInputText [(ngModel)]="user.emailAddress" required maxlength="100" />
        <small class="p-invalid" [style]="{color: 'red'}" *ngIf="submitted && !user.emailAddress">{{'emailReq' |
          translate
          }}</small>
      </div>
      <div class="p-field col-sm">
        <label for="RoleID">{{'RoleIDHeader' | translate }}</label>
        <p-autoComplete [suggestions]="roles" appendTo="body" (completeMethod)="searchRole($event)"
          placeholder="{{(user.role?.displayName)? user.role?.displayName :'RoleIDHeader' | translate }}"
          field="displayName" (onSelect)="onSelectRole($event)">
          <ng-template let-takeRole pTemplate="item">
            <div class="ui-helper-clearfix">
              <div style="font-size:18px;float:right;margin:10px 10px 0 0">
                {{takeRole.displayName}}</div>
            </div>
          </ng-template>
        </p-autoComplete>
        <small class="p-invalid" [style]="{color: 'red'}" *ngIf="submitted && !user.roleID">{{'roleReq' | translate
          }}</small>
      </div>
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <div class="row">
      <div class="p-button-rounded col-sm"></div>
      <div class="p-button-rounded col-sm"></div>
      <button pButton pRipple label="{{'saveTitle' | translate }}" icon="pi pi-check" class="p-button-rounded col-sm"
        (click)="saveUser()"></button>
      <button pButton pRipple type="button" label="{{'cancelTitle' | translate }}" icon="pi pi-times"
        class="p-button-rounded p-button-warning col-sm" (click)="hideDialog()"></button>
      <div class="p-button-rounded col-sm"></div>
      <div class="p-button-rounded col-sm"></div>
    </div>
  </ng-template>
</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>