<div class="grid">
  <div class="col-12">
    <div class="card px-6 py-6">
      <p-toast></p-toast>
      <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
          <div class="my-2">
            <button pButton pRipple label="إضافة" icon="pi pi-plus" class="p-button-success mr-2"
              (click)="openNew()"></button>
            <button pButton pRipple label="حذف" icon="pi pi-trash" class="p-button-danger"
              (click)="deleteSelectedModificationContractTypes()"
              [disabled]="!selectedModificationContractTypes || !selectedModificationContractTypes.length"></button>
          </div>
        </ng-template>

        <ng-template pTemplate="right">
          <button pButton pRipple label="تصدير" icon="pi pi-upload" class="p-button-help"
            (click)="dt.exportCSV()"></button>
        </ng-template>
      </p-toolbar>

      <p-table #dt [value]="modificationcontracttypes" [columns]="cols" responsiveLayout="scroll" [rows]="10"
        [globalFilterFields]="['name','modificationcontracttype.name','representative.name','status']"
        [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [(selection)]="selectedModificationContractTypes" selectionMode="multiple" [rowHover]="true" dataKey="id">
        <ng-template pTemplate="caption">
          <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
            <h5 class="m-0">إدارة أنواع صكوك التعيين المعدل</h5>
            <span class="block mt-2 md:mt-0 p-input-icon-left">
              <i class="pi pi-search"></i>
              <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="بحث..."
                class="w-full sm:w-auto" />
            </span>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 3rem">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th pSortableColumn="name">الاسم <p-sortIcon field="name"></p-sortIcon></th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-modificationcontracttype>
          <tr>
            <td>
              <p-tableCheckbox [value]="modificationcontracttype"></p-tableCheckbox>
            </td>
            <td style="width:14%; min-width:10rem;">
              <span class="p-column-title">الاسم</span>
              {{modificationcontracttype?.name}}
            </td>
            <td>
              <div class="flex">
                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2"
                  (click)="editmodificationcontracttype(modificationcontracttype)"></button>
                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                  (click)="deletemodificationcontracttype(modificationcontracttype)"></button>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>

    <p-dialog [(visible)]="modificationcontracttypeDialog" [style]="{width: '450px'}" header="تفاصيل النوع "
      [modal]="true" class="p-fluid">
      <form [formGroup]="modificationcontracttypeForm" (ngSubmit)="saveModificationContractType()">
        <div class="field">
          <label for="name">الاسم</label>
          <input type="text" pInputText id="name" formControlName="name" required autofocus
            [ngClass]="{'ng-invalid ng-dirty' : modificationcontracttypeForm.touched }" />
          <small class="ng-dirty ng-invalid" *ngIf="modificationcontracttypeForm.touched && f['name'].invalid">حقل الاسم
            مطلوب</small>
        </div>
      </form>
      <ng-template pTemplate="footer">
        <button pButton pRipple label="إلغاء" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="حفظ" icon="pi pi-check" class="p-button-text"
          (click)="saveModificationContractType()"></button>
      </ng-template>
    </p-dialog>

    <p-dialog [(visible)]="deleteModificationContractTypeDialog" header="تأكيد" [modal]="true"
      [style]="{width:'450px'}">
      <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span *ngIf="ModificationContractType">هل أنت متأكد من حذف <b>{{modificationcontracttype?.name}}</b>?</span>
      </div>
      <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-times" class="p-button-text" label="لا"
          (click)="deleteModificationContractTypeDialog = false"></button>
        <button pButton pRipple icon="pi pi-check" class="p-button-text" label="نعم" (click)="confirmDelete()"></button>
      </ng-template>
    </p-dialog>

    <p-dialog [(visible)]="deleteModificationContractTypesDialog" header="تأكيد" [modal]="true"
      [style]="{width:'450px'}">
      <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span>هل أنت متأكد من حذف أنواع صكوك التعيين المعدل المختارة؟</span>
      </div>
      <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-times" class="p-button-text" label="لا"
          (click)="deleteModificationContractTypesDialog = false"></button>
        <button pButton pRipple icon="pi pi-check" class="p-button-text" label="نعم"
          (click)="confirmDeleteSelected()"></button>
      </ng-template>
    </p-dialog>
  </div>
</div>