<p-toast dir="rtl"></p-toast>
<p-breadcrumb [model]="items"></p-breadcrumb>
<div class="card" dir="rtl">
  <p-table #permissionsTable responsiveLayout="scroll" [value]="permissions" selectionMode="single"
    [(selection)]="permission" currentPageReportTemplate="إظهار {first} إلى {last} من العدد الإجمالي {totalRecords}"
    [rowHover]="true" [autoLayout]="true" [paginator]="true" [showCurrentPageReport]="true" [rows]="5"
    [rowsPerPageOptions]="[5,10,15,25,50]" dataKey="Id" [columns]="cols">
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of cols" class="th" pSortableColumn="{{col.field}}">{{col.header}} <p-sortIcon
            field="{{col.field}}">
          </p-sortIcon>
        </th>
        <th class="th"> أدوات التحكم</th>
      </tr>
      <tr>
        <th *ngFor="let col of cols" class="th">
          <p-columnFilter [matchModeOptions]="matchModeOptions" type="text" field="{{col.field}}"></p-columnFilter>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-permission let-columns="columns">
      <tr>
        <td *ngFor="let col of cols" class="td">
          {{permission[col.field]}}
        </td>
        <td class="td">
          <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2"
            (click)="editPermission(permission)" title="تعديل"></button>
          <button pButton pRipple icon=" pi pi-trash" title="حذف" class="p-button-rounded p-button-warning"
            (click)="deleteSelectedPermission(permission)"></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<p-dialog [(visible)]="permissionDialog" [style]="{width: '450px'}" header="تفاصيل الصلاحية" [modal]="true"
  styleClass="p-fluid" dir="rtl">
  <ng-template pTemplate="content">
    <div class="p-field">
      <label for="name">الاسم</label>
      <input type="text" pInputText id="name" readonly [(ngModel)]="permission.name" required autofocus
        maxlength="100" />
      <small class="p-invalid" [style]="{color: 'red'}" *ngIf="submitted && !permission.name">حقل الاسم مطلوب</small>
    </div>
    <p-divider></p-divider>
    <div class="p-field">
      <label for="displayName">الاسم العربي</label>
      <input id="displayName" pInputText [(ngModel)]="permission.displayName" required maxlength="100" />
      <small class="p-invalid" [style]="{color: 'red'}" *ngIf="submitted && !permission.displayName">حقل الاسم العربي
        مطلوب</small>
    </div>
    <p-divider></p-divider>
    <div class="p-field">
      <label for="order">الترتيب</label>
      <input id="order" pInputText [(ngModel)]="permission.order" required />
      <small class="p-invalid" [style]="{color: 'red'}" *ngIf="submitted && !permission.order">حقل الترتيب مطلوب</small>
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <div class="row">
      <div class="p-button-rounded col-sm"></div>
      <button pButton pRipple label="حفظ" icon="pi pi-check" class="p-button-rounded col-sm"
        (click)="savePermission()"></button>
      <button pButton pRipple type="button" label="إلغاء" icon="pi pi-times"
        class="p-button-rounded p-button-warning col-sm" (click)="hideDialog()"></button>
      <div class="p-button-rounded col-sm"></div>
    </div>
  </ng-template>
</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>