<div class="grid">
  <div class="col-12 py-0">
    <div class="card px-2 py-2">
      <p-toast></p-toast>
      <p-toolbar styleClass="mb-2" *ngIf="hasAddAction() || hasFilter">
        <ng-container *ngFor="let action of tableActions">
          <ng-template pTemplate="left" *ngIf="action?.type == 2">
            <div class="my-2">
              <p-button pRipple label="إضافة" icon="pi pi-plus" tooltipPosition="top" [raised]="true" [rounded]="true"
                pTooltip="إضافة" class="mr-2" severity="success" (click)="openNew()"></p-button>
            </div>
          </ng-template>

          <ng-template pTemplate="left" *ngIf="action?.type == 6">
            <div class="my-2">
              <p-button pRipple label="إرفاق وثيقة" tooltipPosition="top" [raised]="true" [rounded]="true"
                pTooltip="إرفاق وثيقة" icon="pi pi-upload" class="mr-2" severity="info"
                (click)="uploadDoc()"></p-button>
            </div>
          </ng-template>
        </ng-container>

        <ng-template pTemplate="right" *ngIf="hasFilter && formStructureFilter.length > 0">
          <div class="my-2">
            <p-button label="بحث" tooltipPosition="top" [raised]="true" [rounded]="true" pTooltip="بحث"
              icon="pi pi-filter" class="mr-2" severity="help" (click)="showFilter()"></p-button>
          </div>
          <div class="my-2" *ngIf="isFiltered">
            <p-button label="إلغاء البحث" tooltipPosition="top" [raised]="true" [rounded]="true" pTooltip="إلغاء البحث"
              icon="pi pi-filter-slash" class="mr-2" severity="secondary" (click)="clearFilter()"></p-button>
          </div>
        </ng-template>
      </p-toolbar>

      <p-table #dt [value]="tableData" [columns]="cols" responsiveLayout="scroll" [rows]="10" [paginator]="hasPaginator"
        [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="showCurrentPageReport"
        currentPageReportTemplate="إظهار {first} إلى {last} من العدد الإجمالي {totalRecords}"
        [(selection)]="selectedItem" selectionMode="single" [rowHover]="true" dataKey="id"
        (onRowSelect)="onRowSelect($event)" styleClass="p-datatable-striped">
        <ng-template pTemplate="caption">
          <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
            <h5 class="m-0">{{tableTitle}}</h5>
          </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th pSortableColumn="{{col.dataKey}}" *ngFor="let col of columns">
              {{col.header}} <p-sortIcon field="{{col.dataKey}}" />
            </th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-i let-item let-rowData let-columns="columns">
          <tr [pSelectableRow]="rowData">
            <td style="width:14%; min-width:10rem;" *ngFor="let col of columns">
              <ng-container *ngIf="!col?.isIcon">
                <span *ngIf="!col?.isIcon" class="p-column-title">{{col.header}}</span> {{rowData[col.dataKey]}}
              </ng-container>
              <ng-container *ngIf="col?.isIcon">
                <div class="customIcon" innerHtml="{{rowData[col.dataKey]}}"></div>
              </ng-container>
            </td>
            <td *ngIf="tableActions?.length > 0">
              <div class="actions">
                <ng-container *ngFor="let action of tableActions">
                  <p-button *ngIf="action?.type == 1" pRipple icon="pi pi-pencil" tooltipPosition="top" [raised]="true"
                    [rounded]="true" pTooltip="تعديل" class="p-button-rounded mr-2" severity="warning"
                    (click)="editItem(item)"></p-button>
                  <p-button *ngIf="action?.type == 3" pRipple icon="pi pi-trash" tooltipPosition="top" [raised]="true"
                    [rounded]="true" pTooltip="حذف" class="p-button-rounded mr-2" severity="danger"
                    (click)="deleteSelectedItem(item)"></p-button>
                  <p-button *ngIf="action?.type == 4" pRipple icon="pi pi-download" tooltipPosition="top"
                    [raised]="true" [rounded]="true" pTooltip="تنزيل" class="p-button-rounded mr-2"
                    (click)="downloadDoc(item)"></p-button>
                  <p-button *ngIf="action?.type == 5" pRipple icon="pi {{action?.icon}}" class="p-button-rounded mr-2"
                    tooltipPosition="top" [raised]="true" [rounded]="true" [pTooltip]="action.tooltip"
                    (click)="goToAction(item,action)"></p-button>
                  <p-button *ngIf="action?.type == 7" pRipple icon="pi pi-slack" tooltipPosition="top" [raised]="true"
                    [rounded]="true" [pTooltip]="action.tooltip" class="p-button-rounded mr-2"
                    (click)="openDialog(item)"></p-button>
                  <p-button *ngIf="action?.type == 8" pRipple icon="pi {{action?.icon}}" class="p-button-rounded mr-2"
                    tooltipPosition="top" [raised]="true" [rounded]="true" [pTooltip]="action.tooltip"
                    (click)="viewInfo(item,action)"></p-button>
                </ng-container>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>

    <p-dialog [(visible)]="itemDialog" [style]="{width: 'auto'}" header="التفاصيل" [modal]="true" class="p-fluid">
      <app-dynamic-form [formStructure]="formStructure" [hasCustomCssClass]="hasCustomCssClass"></app-dynamic-form>
      <ng-template pTemplate="footer">
        <p-button pRipple label="إلغاء" tooltipPosition="top" [raised]="true" [rounded]="true" pTooltip="إلغاء"
          icon="pi pi-times" class="p-button-text" severity="secondary" (click)="hideDialog()"></p-button>
        <p-button pRipple label="حفظ" tooltipPosition="top" [raised]="true" [rounded]="true" pTooltip="حفظ"
          icon="pi pi-check" class="p-button-text" (click)="saveItem()"></p-button>
      </ng-template>
    </p-dialog>

    <p-dialog [(visible)]="deleteItemDialog" header="تأكيد" [modal]="true" [style]="{width:'450px'}">
      <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span *ngIf="item">هل أنت متأكد من حذف <b>{{item?.name}}</b>?</span>
      </div>
      <ng-template pTemplate="footer">
        <p-button pRipple icon="pi pi-times" class="p-button-text" label="لا" tooltipPosition="top" [raised]="true"
          [rounded]="true" pTooltip="لا" (click)="deleteItemDialog = false"></p-button>
        <p-button pRipple icon="pi pi-check" class="p-button-text" label="نعم" tooltipPosition="top" [raised]="true"
          [rounded]="true" pTooltip="نعم" (click)="confirmDelete(item)"></p-button>
      </ng-template>
    </p-dialog>
    <p-dialog [(visible)]="isFiltering" [style]="{width: 'auto'}" header="الفلاتر" [modal]="true" class="p-fluid">
      <app-dynamic-filter [formStructure]="formStructureFilter"
        [hasCustomCssClass]="hasCustomCssClass"></app-dynamic-filter>
      <ng-template pTemplate="footer">
        <p-button pRipple label="إلغاء" tooltipPosition="top" [raised]="true" [rounded]="true" pTooltip="إلغاء"
          icon="pi pi-times" class="p-button-text" severity="secondary" (click)="hideFilter()"></p-button>
        <p-button pRipple label="بحث" tooltipPosition="top" [raised]="true" [rounded]="true" pTooltip="بحث"
          icon="pi pi-check" class="p-button-text" (click)="search()"></p-button>
      </ng-template>
    </p-dialog>
  </div>
</div>