:host ::ng-deep .p-datatable .p-datatable-thead>tr>th {
  text-align: right !important;
}

:host ::ng-deep .p-datatable .p-datatable-tbody>tr>td {
  text-align: right !important;
}

.actions {
  display: flex;
  flex-direction: row-reverse;
}

:host ::ng-deep .p-toolbar {
  padding: 0.9rem 1.25rem !important;
}

:host ::ng-deep h5 {
  font-size: 2rem !important;
}

:host ::ng-deep p-toolbar .p-button {
  gap: 1rem !important;
}