<div class="grid">
  <div class="col-12 py-0">
    <div class="card px-2 py-2">
      <p-toast></p-toast>
      <p-toolbar styleClass="mb-2" *hasPermission="[canAdd,canEdit]; op 'OR'">
        <ng-template pTemplate="left" *ngIf="!hasUploadAction">
          <div class="my-2">
            <button *hasPermission="[canAdd]" pButton pRipple label="إضافة" icon="pi pi-plus" tooltipPosition="top"
              pTooltip="إضافة" class="p-button-success mr-2" (click)="openNew()"></button>
            <!-- <button *ngIf="canMultiDelete" pButton pRipple label="حذف" icon="pi pi-trash" class="p-button-danger"
              (click)="deleteSelectedItems()" [disabled]="!selectedItems || !selectedItems.length"></button> -->
          </div>
        </ng-template>

        <ng-template pTemplate="left" *ngIf="hasUploadAction">
          <div class="my-2">
            <button pButton pRipple label="إرفاق وثيقة" tooltipPosition="top" pTooltip="إرفاق وثيقة" icon="pi pi-upload"
              class="p-button-success mr-2" (click)="uploadDoc()"></button>
          </div>
        </ng-template>
        <ng-template pTemplate="right" *ngIf="hasFilter">
          <div class="my-2">
            <p-button label="بحث" tooltipPosition="top" pTooltip="بحث" icon="pi pi-filter" class="p-button-success mr-2"
              (click)="showFilter()"></p-button>
          </div>

        </ng-template>
        <!--  <ng-template pTemplate="right">
          <button pButton pRipple label="تصدير" icon="pi pi-upload" class="p-button-help"
            (click)="dt.exportCSV()"></button>
        </ng-template> -->
      </p-toolbar>

      <p-table #dt [value]="tableData" [columns]="cols" responsiveLayout="scroll" [rows]="10" [paginator]="hasPaginator"
        [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="showCurrentPageReport"
        currentPageReportTemplate="إظهار {first} إلى {last} من العدد الإجمالي {totalRecords}"
        [(selection)]="selectedItem" selectionMode="single" [rowHover]="true" dataKey="id"
        (onRowSelect)="onRowSelect($event)">
        <ng-template pTemplate="caption">
          <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
            <h5 class="m-0">{{tableTitle}}</h5>
            <!-- <span class="block mt-2 md:mt-0 p-input-icon-left">
              <i class="pi pi-search"></i>
              <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="بحث..."
                class="w-full sm:w-auto" />
            </span> -->
          </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
          <tr>
            <!-- <th *ngIf="hasCheckBox" style="width: 3rem">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th> -->
            <th pSortableColumn="{{col.dataKey}}" *ngFor="let col of columns">
              {{col.header}}
            </th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-i let-item let-rowData let-columns="columns">
          <tr [pSelectableRow]="rowData">
            <!-- <td *ngIf="hasCheckBox">
              <p-tableCheckbox [value]="item"></p-tableCheckbox>
            </td> -->
            <td style="width:14%; min-width:10rem;" *ngFor="let col of columns">
              <ng-container *ngIf="!col?.isIcon">
                <span *ngIf="!col?.isIcon" class="p-column-title">{{col.header}}</span> {{rowData[col.dataKey]}}
              </ng-container>
              <ng-container *ngIf="col?.isIcon">
                <div class="customIcon" innerHtml="{{rowData[col.dataKey]}}"></div>
              </ng-container>
            </td>
            <td *hasPermission="[canEdit , canSingleDelete]">
              <div class="actions">
                <button *hasPermission="[canEdit]" pButton pRipple icon="pi pi-pencil" tooltipPosition="top"
                  pTooltip="تعديل" class="p-button-rounded p-button-success mr-2" (click)="editItem(item)"></button>
                <button *hasPermission="[canSingleDelete]" pButton pRipple icon="pi pi-trash" tooltipPosition="top"
                  pTooltip="حذف" class="p-button-rounded p-button-warning" (click)="deleteSelectedItem(item)"></button>
                <button *ngIf="hasDocs" pButton pRipple icon="pi pi-file" class="p-button-rounded p-button-warning"
                  tooltipPosition="top" pTooltip="عرض الوثائق" (click)="goToDocs(item)"></button>
                <button *ngIf="hasDownloadAction" pButton pRipple icon="pi pi-download" tooltipPosition="top"
                  pTooltip="تنزيل" class="p-button-rounded p-button-warning" (click)="downloadDoc(item)"></button>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>

    <p-dialog [(visible)]="itemDialog" [style]="{width: 'auto'}" header="التفاصيل" [modal]="true" class="p-fluid">
      <app-dynamic-form [formStructure]="formStructure" [hasCustomCssClass]="hasCustomCssClass"></app-dynamic-form>
      <ng-template pTemplate="footer">
        <button pButton pRipple label="إلغاء" tooltipPosition="top" pTooltip="إلغاء" icon="pi pi-times"
          class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="حفظ" tooltipPosition="top" pTooltip="حفظ" icon="pi pi-check"
          class="p-button-text" (click)="saveItem()"></button>
      </ng-template>
    </p-dialog>

    <p-dialog [(visible)]="deleteItemDialog" header="تأكيد" [modal]="true" [style]="{width:'450px'}">
      <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span *ngIf="item">هل أنت متأكد من حذف <b>{{item?.name}}</b>?</span>
      </div>
      <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-times" class="p-button-text" label="لا" tooltipPosition="top" pTooltip="ل"
          (click)="deleteItemDialog = false"></button>
        <button pButton pRipple icon="pi pi-check" class="p-button-text" label="نعم" tooltipPosition="top"
          pTooltip="نعم" (click)="confirmDelete(item)"></button>
      </ng-template>
    </p-dialog>

    <p-dialog [(visible)]="deleteItemsDialog" header="تأكيد" [modal]="true" [style]="{width:'450px'}">
      <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span>هل أنت متأكد من حذف العناصر المختارة؟</span>
      </div>
      <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-times" class="p-button-text" label="لا" tooltipPosition="top"
          pTooltip="إضافة" (click)="deleteItemsDialog = false"></button>
        <button pButton pRipple icon="pi pi-check" class="p-button-text" label="نعم" tooltipPosition="top"
          pTooltip="نعم" (click)="confirmDeleteSelected(item)"></button>
      </ng-template>
    </p-dialog>

    <p-dialog [(visible)]="isFiltering" [style]="{width: 'auto'}" header="الفلاتر" [modal]="true" class="p-fluid">
      <app-dynamic-filter [formStructure]="formStructureFilter"
        [hasCustomCssClass]="hasCustomCssClass"></app-dynamic-filter>
      <ng-template pTemplate="footer">
        <button pButton pRipple label="إلغاء" tooltipPosition="top" pTooltip="إلغاء" icon="pi pi-times"
          class="p-button-text" (click)="hideFilter()"></button>
        <button pButton pRipple label="بحث" tooltipPosition="top" pTooltip="بحث" icon="pi pi-check"
          class="p-button-text" (click)="search()"></button>
      </ng-template>
    </p-dialog>
  </div>
</div>