<div class="layout-topbar">
    <a class="layout-topbar-logo" routerLink="">
        <img src="assets/layout/images/{{layoutService.config().colorScheme === 'light' ? 'hr.jpg' : 'hr.jpg'}}"
            alt="logo">
        <span>HIAST HR</span>
    </a>

    <button #menubutton class="p-link layout-menu-button layout-topbar-button" (click)="layoutService.onMenuToggle()">
        <i class="pi pi-bars"></i>
    </button>

    <button #topbarmenubutton class="p-link layout-topbar-menu-button layout-topbar-button"
        (click)="layoutService.showProfileSidebar()">
        <i class="pi pi-ellipsis-v"></i>
    </button>

    <div #topbarmenu class="layout-topbar-menu"
        [ngClass]="{'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible}">
        <button class="p-link layout-topbar-button" tooltipPosition="top" pTooltip="حسابي"
            (click)="menu.toggle($event)">
            <i class="pi pi-user"></i>
            <span>حسابي</span>
        </button>
        <p-menu #menu [popup]="true" [model]="itemsProfile"></p-menu>
    </div>
</div>

<p-dialog [(visible)]="changePWDialog" [style]="{width: '300PX'}" header="تغيير كلمة المرور" [modal]="true"
    class="p-fluid">
    <app-dynamic-form [formStructure]="formStructure"></app-dynamic-form>
    <ng-template pTemplate="footer">
        <p-button pRipple label="إلغاء" tooltipPosition="top" [raised]="true" [rounded]="true" pTooltip="إلغاء"
            icon="pi pi-times" class="p-button-text" severity="secondary" (click)="hideDialog()"></p-button>
        <p-button pRipple label="حفظ" tooltipPosition="top" [raised]="true" [rounded]="true" pTooltip="حفظ"
            icon="pi pi-check" class="p-button-text" (click)="setChangePW()"></p-button>
    </ng-template>
</p-dialog>