<p-toast dir="rtl"></p-toast>
<div class="progress-spinner" *ngIf="isLoading$ | async;">
  <p-progressSpinner [style]="{width: '50px', height: '50px'}" styleClass="custom-spinner" strokeWidth="8"
    fill="var(--surface-ground)" animationDuration=".5s"></p-progressSpinner>
</div>
<div class="card" dir="rtl">
  <p-toolbar styleClass="mb-4">
    <ng-template pTemplate="left">
    </ng-template>
    <ng-template pTemplate="right">
      <button pButton pRipple label="{{'addTitle' | translate }}" icon="pi pi-plus" class="p-button-success mr-2"
        (click)="openNew()"></button>
    </ng-template>
  </p-toolbar>
  <p-table responsiveLayout="stack" [value]="financialimpact" selectionMode="single" [(selection)]="financialimpact"
    [rowHover]="true" [autoLayout]="true" [paginator]="true" [rows]="5" dataKey="Id" [columns]="cols">
    <ng-template pTemplate="caption">
      <div class="table-header">
        {{'financialimpacts' | translate }}
      </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of cols" class="th">
          {{col.header}}
        </th>
        <th class="th"> {{'controlTilte' | translate }}</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-financialimpact let-columns="columns">
      <tr>
        <td *ngFor="let col of cols" class="td" [ngSwitch]="col.type">
          <ng-container *ngSwitchCase="'Date'">
            {{financialimpact[col.field] |date :'yyyy-MM-dd'}}
          </ng-container>
          <ng-container *ngSwitchCase="'boolean'">
            {{financialimpact[col.field] ? 'نعم' : 'لا' }}
          </ng-container>
          <ng-container *ngSwitchDefault>
            {{financialimpact[col.field]}}
          </ng-container>
        </td>
        <td class="td">
          <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2"
            (click)="editFinancialImpact(financialimpact)" title="{{'editTitle' | translate }}"></button>
          <button pButton pRipple icon="pi pi-trash" title="{{'deleteTitle' | translate }}"
            class="p-button-rounded p-button-warning" (click)="deleteSelectedFinancialImpact(financialimpact)"></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
<p-dialog [(visible)]="financialimpactDialog" [style]="{width: '750px'}"
  header="{{'FinancialImpactDialogHeader' | translate }}" [modal]="true" styleClass="p-fluid" dir="rtl">
  <ng-template pTemplate="content">
    <form [formGroup]="financialimpactForm" (ngSubmit)="saveFinancialImpact()">
      <div class="row">
        <div class="p-field col-sm">
          <span class="p-float-label">
            <p-calendar formControlName="Time" id="Time" name="Time" [(ngModel)]="financialimpact.Time"
              [timeOnly]="true" appendTo="body" hourFormat="24" inputId="timeonly" autofocus></p-calendar>
            <small class="p-invalid" [style]="{color: 'red'}"
              *ngIf="submitted && f['Time'].invalid && f['Time'].errors && f['Time'].errors['required']">{{'TimeError'
              |
              translate }}</small>
            <label for="Time" dir="rtl">{{'Time' | translate }}</label>
          </span>
        </div>
        <div class="p-field col-sm">
          <span class="p-float-label">
            <input pInputText formControlName="Place" id="Place" name="Place" [(ngModel)]="financialimpact.Place" />
            <small class="p-invalid" [style]="{color: 'red'}"
              *ngIf="submitted && f['Place'].invalid && f['Place'].errors && f['Place'].errors['required']">{{'PlaceError'
              |
              translate }}</small>
            <small class="p-invalid" [style]="{color: 'red'}" *ngIf="f['Place'].errors?.['maxlength']">{{'PlaceLength'
              |
              translate }}</small>
            <label for="Place" dir="rtl">{{'Place' | translate }}</label>
          </span>
        </div>
      </div>
      <p-divider></p-divider>
      <div class="row">
        <div class="p-field col-sm">
          <span class="p-float-label">
            <p-calendar formControlName="Date" id="Date" name="Date" [(ngModel)]="financialimpact.Date"
              dateFormat="yy-mm-dd" appendTo="body" [required]=true [showIcon]="true" dataType="string"></p-calendar>
            <small class="p-invalid" [style]="{color: 'red'}"
              *ngIf="submitted && f['Date'].invalid && f['Date'].errors && f['Date'].errors['required']">{{'DateError'
              |
              translate }}</small>
            <label for="Date">{{'Date' | translate }}</label>
          </span>
        </div>
        <div class="p-field col-sm">
          <span class="p-float-label">
            <input formControlName="Note" id="Note" name="Note" pInputText [(ngModel)]="financialimpact.Note" />
            <small class="p-invalid" [style]="{color: 'red'}" *ngIf="f['Note'].errors?.['Note']">{{'NoteLength'
              |
              translate }}</small>
            <label for="Note">{{'Note' | translate }}</label>
          </span>
        </div>
      </div>
    </form>
  </ng-template>

  <ng-template pTemplate="footer">
    <div class="row">
      <div class="p-button-rounded col-sm"></div>
      <button pButton pRipple label="{{'saveTitle' | translate }}" icon="pi pi-check" class="p-button-rounded col-sm"
        (click)="saveFinancialImpact()"></button>
      <button pButton pRipple type="button" label="{{'cancelTitle' | translate }}" icon="pi pi-times"
        class="p-button-rounded p-button-warning col-sm" (click)="hideDialog()"></button>
      <div class="p-button-rounded col-sm"></div>
    </div>
  </ng-template>
</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>