<p-toast dir="rtl"></p-toast>
<div class="progress-spinner" *ngIf="isLoading$ | async;">
  <p-progressSpinner [style]="{width: '50px', height: '50px'}" styleClass="custom-spinner" strokeWidth="8"
    fill="var(--surface-ground)" animationDuration=".5s"></p-progressSpinner>
</div>
<div class="card" dir="rtl">
  <p-table responsiveLayout="scroll" [value]="userProfiles" [(selection)]="userProfile" [rowHover]="true"
    [autoLayout]="true" dataKey="Id" [columns]="cols">
    <ng-template pTemplate="caption">
      <div class="table-header">
        البروفايل الشخصي
      </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of cols" class="th">
          {{col.header}}
        </th>
        <th class="th"> أدوات التحكم</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-userProfile let-columns="columns">
      <tr>
        <td *ngFor="let col of cols" class="td" [ngSwitch]="col.field">
          <ng-container *ngSwitchCase="'fatherName'">
            {{userProfile[col.field]}}
          </ng-container>
          <ng-container *ngSwitchCase="'motherName'">
            {{userProfile[col.field]}}
          </ng-container>
          <ng-container *ngSwitchCase="'birthPlace'">
            {{userProfile[col.field]}}
          </ng-container>
          <ng-container *ngSwitchCase="'birthDate'">
            {{userProfile[col.field] |date :'yyyy-MM-dd'}}
          </ng-container>
          <ng-container *ngSwitchCase="'gender'">
            {{userProfile[col.field]}}
          </ng-container>
          <ng-container *ngSwitchCase="'cardNumber'">
            {{userProfile[col.field]}}
          </ng-container>
          <ng-container *ngSwitchCase="'address'">
            {{userProfile[col.field]}}
          </ng-container>
        </td>
        <td class="td">
          <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2"
            (click)="editUserProfile(userProfile)" title="تعديل"></button>
          <button pButton pRipple icon=" pi pi-trash" title="حذف" class="p-button-rounded p-button-warning"
            (click)="deleteSelectedUserProfile(userProfile)"></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<p-dialog [(visible)]="userProfileDialog" [style]="{width: '750px'}" header=" تفاصيل البروفايل الشخصي" [modal]="true"
  styleClass="p-fluid" dir="rtl">
  <ng-template pTemplate="content">
    <form [formGroup]="myProfileForm" (ngSubmit)="saveUserProfile()">
      <div class="row">
        <div class="p-field col-sm">
          <span class="p-float-label">
            <input type="text" pInputText id="fatherName" formControlName="fatherName" name="fatherName"
              [(ngModel)]="userProfile.fatherName" autofocus />
            <small class="p-invalid" [style]="{color: 'red'}"
              *ngIf="submitted && f['fatherName'].invalid && f['fatherName'].errors && f['fatherName'].errors['required']">
              اسم الأب مطلوب</small>
            <small class="p-invalid" [style]="{color: 'red'}" *ngIf="f['fatherName'].errors?.['maxlength']">طول اسم الأب
              لا يتجاوز 100 محرف</small>
            <label for="fatherName">اسم الأب</label>
          </span>
        </div>
        <p-divider></p-divider>
        <div class="p-field col-sm">
          <span class="p-float-label">
            <input id="motherName" pInputText [(ngModel)]="userProfile.motherName" formControlName="motherName"
              name="motherName" />
            <small class="p-invalid" [style]="{color: 'red'}"
              *ngIf="submitted && f['motherName'].invalid && f['motherName'].errors && f['motherName'].errors['required']">
              اسم الأم مطلوب</small>
            <small class="p-invalid" [style]="{color: 'red'}" *ngIf="f['motherName'].errors?.['maxlength']">طول اسم الأم
              لا يتجاوز 100 محرف</small>
            <label for="motherName">اسم الأم</label>
          </span>
        </div>
      </div>
      <p-divider></p-divider>
      <div class="row">
        <div class="p-field col-sm">
          <span class="p-float-label">
            <input id="birthPlace" pInputText [(ngModel)]="userProfile.birthPlace" formControlName="birthPlace"
              name="birthPlace" />
            <small class="p-invalid" [style]="{color: 'red'}"
              *ngIf="submitted && f['birthPlace'].invalid && f['birthPlace'].errors && f['birthPlace'].errors['required']">
              مكان الولادة مطلوب</small>
            <small class="p-invalid" [style]="{color: 'red'}" *ngIf="f['birthPlace'].errors?.['maxlength']">طول مكان
              الولادة لا يتجاوز 100 محرف</small>
            <label for="birthPlace">مكان الولادة</label>
          </span>
        </div>
        <p-divider></p-divider>
        <div class="p-field col-sm">
          <span class="p-float-label">
            <p-calendar id="birthDate" [(ngModel)]="userProfile.birthDate" formControlName="birthDate" name="birthDate"
              dateFormat="yy-mm-dd" appendTo="body" [showIcon]="true" dataType="string"></p-calendar>
            <small class="p-invalid" [style]="{color: 'red'}"
              *ngIf="submitted && f['birthDate'].invalid && f['birthDate'].errors && f['birthDate'].errors['required']">
              تاريخ الولادة مطلوب</small>
            <label for="birthDate">تاريخ الولادة</label>
          </span>
        </div>
      </div>
      <p-divider></p-divider>
      <div class="row">
        <div class="p-field col-sm">
          <span class="p-float-label">
            <p-dropdown [options]="sexTypes" [showClear]="true" appendTo="body" formControlName="gender" name="gender"
              [required]="isGenderReq" onClear="onClear()" [(ngModel)]="userProfile.gender" placeholder="اختر الجنس">
            </p-dropdown>
            <small class="p-invalid" [style]="{color: 'red'}"
              *ngIf="submitted && f['gender'].invalid && f['gender'].errors && f['gender'].errors['required']">
              حقل الجنس مطلوب</small>
            <small class="p-invalid" [style]="{color: 'red'}" *ngIf="f['gender'].errors?.['maxlength']">طول حقل الجنس لا
              يتجاوز 10 محارف</small>
            <label for="gender">الجنس</label>
          </span>
        </div>
        <p-divider></p-divider>
        <div class="p-field col-sm">
          <span class="p-float-label">
            <input id="address" pInputText [(ngModel)]="userProfile.address" formControlName="address" name="address" />
            <small class="p-invalid" [style]="{color: 'red'}"
              *ngIf="submitted && f['address'].invalid && f['address'].errors && f['address'].errors['required']">
              العنوان مطلوب</small>
            <small class="p-invalid" [style]="{color: 'red'}" *ngIf="f['address'].errors?.['maxlength']">حقل العنوان لا
              يتجاوز 100 محرف</small>
            <label for="address">العنوان</label>
          </span>
        </div>
      </div>
      <p-divider></p-divider>
      <div class="row">
        <div class="p-field col-sm">
          <span class="p-float-label">
            <input id="cardNumber" pInputText [(ngModel)]="userProfile.cardNumber" formControlName="cardNumber"
              name="cardNumber" />
            <small class="p-invalid" [style]="{color: 'red'}"
              *ngIf="submitted && f['cardNumber'].invalid && f['cardNumber'].errors && f['cardNumber'].errors['required']">
              رقم الهوية الشخصية مطلوب</small>
            <small class="p-invalid" [style]="{color: 'red'}" *ngIf="f['cardNumber'].errors?.['maxlength']">طول رقم
              الهوية الشخصية لا يتجاوز 20 محرف</small>
            <label for="cardNumber">رقم الهوية الشخصية</label>
          </span>
        </div>
      </div>
    </form>
  </ng-template>

  <ng-template pTemplate="footer">
    <div class="row">
      <div class="p-button-rounded col-sm"></div>
      <div class="p-button-rounded col-sm"></div>
      <button pButton pRipple label="حفظ" icon="pi pi-check" class="p-button-rounded col-sm"
        (click)="saveUserProfile()"></button>
      <button pButton pRipple type="button" label="إلغاء" icon="pi pi-times"
        class="p-button-rounded p-button-warning col-sm" (click)="hideDialog()"></button>
      <div class="p-button-rounded col-sm"></div>
      <div class="p-button-rounded col-sm"></div>
    </div>
  </ng-template>
</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>