<p-toast dir="rtl"></p-toast>
<div class="progress-spinner" *ngIf="isLoading$ | async;">
  <p-progressSpinner [style]="{width: '50px', height: '50px'}" styleClass="custom-spinner" strokeWidth="8"
    fill="var(--surface-ground)" animationDuration=".5s"></p-progressSpinner>
</div>
<div class="card" dir="rtl">
  <p-table responsiveLayout="scroll" [value]="userProfiles" [(selection)]="userProfile" [rowHover]="true"
    [autoLayout]="true" dataKey="Id" [columns]="cols">
    <ng-template pTemplate="caption">
      <div class="table-header">
        البروفايل الشخصي
      </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of cols" class="th">
          {{col.header}}
        </th>
        <th class="th"> أدوات التحكم</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-userProfile let-columns="columns">
      <tr>
        <td *ngFor="let col of cols" class="td" [ngSwitch]="col.field">
          <ng-container *ngSwitchCase="'FatherName'">
            {{userProfile[col.field]}}
          </ng-container>
          <ng-container *ngSwitchCase="'MotherName'">
            {{userProfile[col.field]}}
          </ng-container>
          <ng-container *ngSwitchCase="'BirthPlace'">
            {{userProfile[col.field]}}
          </ng-container>
          <ng-container *ngSwitchCase="'BirthDate'">
            {{userProfile[col.field] |date :'yyyy-MM-dd'}}
          </ng-container>
          <ng-container *ngSwitchCase="'Gender'">
            {{userProfile[col.field]}}
          </ng-container>
          <ng-container *ngSwitchCase="'CardNumber'">
            {{userProfile[col.field]}}
          </ng-container>
          <ng-container *ngSwitchCase="'Address'">
            {{userProfile[col.field]}}
          </ng-container>
        </td>
        <td class="td">
          <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2"
            (click)="editUserProfile(userProfile)" title="تعديل"></button>
          <button pButton pRipple icon=" pi pi-trash" title="حذف" class="p-button-rounded p-button-warning"
            (click)="deleteSelectedUserProfile(userProfile)"></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<p-dialog [(visible)]="userProfileDialog" [style]="{width: '750px'}" header=" تفاصيل البروفايل الشخصي" [modal]="true"
  styleClass="p-fluid" dir="rtl">
  <ng-template pTemplate="content">
    <form [formGroup]="myProfileForm" (ngSubmit)="saveUserProfile()">
      <div class="row">
        <div class="p-field col-sm">
          <span class="p-float-label">
            <input type="text" pInputText id="FatherName" formControlName="FatherName" name="FatherName"
              [(ngModel)]="userProfile.FatherName" autofocus />
            <small class="p-invalid" [style]="{color: 'red'}"
              *ngIf="submitted && f['FatherName'].invalid && f['FatherName'].errors && f['FatherName'].errors['required']">
              اسم الأب مطلوب</small>
            <small class="p-invalid" [style]="{color: 'red'}" *ngIf="f['FatherName'].errors?.['maxlength']">طول اسم الأب
              لا يتجاوز 100 محرف</small>
            <label for="FatherName">اسم الأب</label>
          </span>
        </div>
        <div class="p-field col-sm">
          <span class="p-float-label">
            <input id="MotherName" pInputText [(ngModel)]="userProfile.MotherName" formControlName="MotherName"
              name="MotherName" />
            <small class="p-invalid" [style]="{color: 'red'}"
              *ngIf="submitted && f['MotherName'].invalid && f['MotherName'].errors && f['MotherName'].errors['required']">
              اسم الأم مطلوب</small>
            <small class="p-invalid" [style]="{color: 'red'}" *ngIf="f['MotherName'].errors?.['maxlength']">طول اسم الأم
              لا يتجاوز 100 محرف</small>
            <label for="MotherName">اسم الأم</label>
          </span>
        </div>
      </div>
      <p-divider></p-divider>
      <div class="row">
        <div class="p-field col-sm">
          <span class="p-float-label">
            <input id="BirthPlace" pInputText [(ngModel)]="userProfile.BirthPlace" formControlName="BirthPlace"
              name="BirthPlace" />
            <small class="p-invalid" [style]="{color: 'red'}"
              *ngIf="submitted && f['BirthPlace'].invalid && f['BirthPlace'].errors && f['BirthPlace'].errors['required']">
              مكان الولادة مطلوب</small>
            <small class="p-invalid" [style]="{color: 'red'}" *ngIf="f['BirthPlace'].errors?.['maxlength']">طول مكان
              الولادة لا يتجاوز 100 محرف</small>
            <label for="BirthPlace">مكان الولادة</label>
          </span>
        </div>
        <div class="p-field col-sm">
          <span class="p-float-label">
            <p-calendar id="BirthDate" [(ngModel)]="userProfile.BirthDate" formControlName="BirthDate" name="BirthDate"
              dateFormat="yy-mm-dd" appendTo="body" [showIcon]="true" dataType="string"></p-calendar>
            <small class="p-invalid" [style]="{color: 'red'}"
              *ngIf="submitted && f['BirthDate'].invalid && f['BirthDate'].errors && f['BirthDate'].errors['required']">
              تاريخ الولادة مطلوب</small>
            <label for="BirthDate">تاريخ الولادة</label>
          </span>
        </div>
      </div>
      <p-divider></p-divider>
      <div class="row">
        <div class="p-field col-sm">
          <span class="p-float-label">
            <p-dropdown [options]="sexTypes" [showClear]="true" appendTo="body" formControlName="Gender" name="Gender"
              [required]="isGenderReq" onClear="onClear()" [(ngModel)]="userProfile.Gender" placeholder="اختر الجنس">
            </p-dropdown>
            <small class="p-invalid" [style]="{color: 'red'}"
              *ngIf="submitted && f['Gender'].invalid && f['Gender'].errors && f['Gender'].errors['required']">
              حقل الجنس مطلوب</small>
            <small class="p-invalid" [style]="{color: 'red'}" *ngIf="f['Gender'].errors?.['maxlength']">طول حقل الجنس لا
              يتجاوز 10 محارف</small>
            <label for="Gender">الجنس</label>
          </span>
        </div>
        <div class="p-field col-sm">
          <span class="p-float-label">
            <input id="Address" pInputText [(ngModel)]="userProfile.Address" formControlName="Address" name="Address" />
            <small class="p-invalid" [style]="{color: 'red'}"
              *ngIf="submitted && f['Address'].invalid && f['Address'].errors && f['Address'].errors['required']">
              العنوان مطلوب</small>
            <small class="p-invalid" [style]="{color: 'red'}" *ngIf="f['Address'].errors?.['maxlength']">حقل العنوان لا
              يتجاوز 100 محرف</small>
            <label for="Address">العنوان</label>
          </span>
        </div>
      </div>
      <p-divider></p-divider>
      <div class="row">
        <div class="p-field col-sm">
          <span class="p-float-label">
            <input id="CardNumber" pInputText [(ngModel)]="userProfile.CardNumber" formControlName="CardNumber"
              name="CardNumber" />
            <small class="p-invalid" [style]="{color: 'red'}"
              *ngIf="submitted && f['CardNumber'].invalid && f['CardNumber'].errors && f['CardNumber'].errors['required']">
              رقم الهوية الشخصية مطلوب</small>
            <small class="p-invalid" [style]="{color: 'red'}" *ngIf="f['CardNumber'].errors?.['maxlength']">طول رقم
              الهوية الشخصية لا يتجاوز 20 محرف</small>
            <label for="CardNumber">رقم الهوية الشخصية</label>
          </span>
        </div>
      </div>
    </form>
  </ng-template>

  <ng-template pTemplate="footer">
    <div class="row">
      <div class="p-button-rounded col-sm"></div>
      <div class="p-button-rounded col-sm"></div>
      <button pButton pRipple label="حفظ" icon="pi pi-check" class="p-button-rounded col-sm"
        (click)="saveUserProfile()"></button>
      <button pButton pRipple type="button" label="إلغاء" icon="pi pi-times"
        class="p-button-rounded p-button-warning col-sm" (click)="hideDialog()"></button>
      <div class="p-button-rounded col-sm"></div>
      <div class="p-button-rounded col-sm"></div>
    </div>
  </ng-template>
</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>